[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CORElearn"]
	path = CORElearn
	url = https://github.com/cran/CORElearn
[submodule "semiArtificial"]
	path = semiArtificial
	url = https://github.com/cran/semiArtificial
