[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CORElearn"]
	path = CORElearn
	url = https://github.com/cran/CORElearn
	shallow = true
	registered = true
[submodule "ExplainPrediction"]
	path = ExplainPrediction
	url = https://github.com/cran/ExplainPrediction
	shallow = true
	registered = true
[submodule "semiArtificial"]
	path = semiArtificial
	url = https://github.com/cran/semiArtificial
	shallow = true
	registered = true
